{% extends 'index.html' %}

{% block body %}
<div class="container">
        <h1 class="text-center text-success">CART PAYMENT</h1>
        <div class="alert alert-warning">
<!--            -->
        </div>
        <table class="table">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
            </tr>
<!--            -->
            <tr>
<!--            -->
                <td>
                    <div class="form-group">
<!--            -->
                    </div>
                </td>
<!--            -->
            </tr>
<!--            -->
        </table>
<!--        <input type="button" onclick="pay()" value="Thanh toán" class="btn btn-danger" />-->
            <div class="btn-sec">
                <a href="#" class="blue-btn" onclick="pay()">Thanh toán </a>
            </div>
</div>

{% endblock %}